body {
    height: 100%;
    background-image: url("/images/marble.jpeg");
    background-size: cover;
    background-repeat: repeat-y;
    margin: 0;
    padding: 0;
}

h1 {
    margin: 0;
    padding: 0;
    font-family: 'Bungee', cursive;
    font-size: 8em;
    color: #5f4040;
}

h2 {
    font-family: 'Bungee', cursive;
}

h4{
    padding: 15px;
}

/* buttons */

.btn-default {
    background-color: #b78981;
    border: 5px solid #000;
    text-transform: uppercase;
    font-size: 25px;
    border-radius: 28px;
    color: #000;
    font-family: 'Bungee', cursive;
}

.btn-default:hover{
    color: #b78981;
    background-color: #000;
    border-color: #000;
}

.modal-content{
    opacity:.9;
    padding: 10px;
    font-family: 'Bungee', cursive;
}

/* game pad */

.container {
    position: relative;
    width: 350px;
    height: 350px;
    margin: 0 auto;
    background-color: #65605f;
    border-radius: 50%;
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    border: 2px solid #000;
    margin-bottom: 25px;
}

.machine {
    width: 135px;
    height: 135px;
    position: absolute;
    margin: 30px;
    box-shadow: 10px 10px 10px 0px rgba(0, 0, 0, 0.75);
    border: 1px solid #000;
    cursor: pointer;
}

@media (max-width: 767px){
    h1{
        font-size: 4em;
    }
}

.green {
    background-image: linear-gradient(green, #7FFF00);
    top: 0;
    left: 0;
    border-radius: 100% 10% 25% 10%;
}

.pressGreen {
  box-shadow: 5px 5px 5px 0;
  transform: translateY(4px);
  background-image: linear-gradient(#7aff00, #defdad);
}

.red {
    background-image: linear-gradient(#8B0000, red);
    top: 0;
    right: 0;
    border-radius: 10% 100% 10% 25%;
}

.pressRed{
  box-shadow: 5px 5px 5px 0;
  transform: translateY(4px);
  background-image: linear-gradient(#ff4949, #ffbdbd);
}

.yellow {
    background-image: linear-gradient(yellow, orange);
    bottom: 0;
    left: 0;
    border-radius: 10% 25% 10% 100%;
}

.pressYellow {
  box-shadow: 5px 5px 5px 0;
  transform: translateY(4px);
  background-image: linear-gradient(#fffdba, #fffa55);
}

.blue {
    background-image: linear-gradient(#1E90FF, #00008B);
    bottom: 0;
    right: 0;
    border-radius: 25% 10% 100% 10%;
}

.pressBlue {
    box-shadow: 5px 5px 5px 0;
    transform: translateY(4px);
    background-image: linear-gradient(#caffee, #1E90FF);
}

/* footer */

footer{
    min-height: 50px;
    background-color: #5f4040;
    color: #000;
    position: inherit;
    bottom: 0;
    width: 100%;
}
