body {
    height: 100%;
    background-image: url("/assets/images/marble.jpeg");
    background-size: cover;
    background-repeat: repeat-y;
    margin: 0;
    padding: 0;

}

h1 {
    margin: 0;
    padding: 0;
    font-family: 'Bungee', cursive;
    font-size: 8em;
    color: #5f4040;
    text-shadow: 5px 5px #b78981;
}

h2 {
    font-family: 'Bungee', cursive;
}

h4{
    padding: 15px;
}

#message{
    font-family: 'Bungee', cursive;
    margin-bottom: 200px;
}

/* rules and start buttons */

.btn-default {
    background-color: #b78981;
    border: 5px solid #000;
    text-transform: uppercase;
    font-size: 25px;
    border-radius: 28px;
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    color: #000;
    font-family: 'Bungee', cursive;
}

.btn-default:focus{
    color: #333;
    background-color: #b78981;
    border: 5px solid #000;
}

.btn-default:active:focus{
    background-color: #b78981;
    border-color: #000;
}

.btn-default:hover{
    color: #444040;
    background-color: #b78981;
    border-color: #000;
}

.modal-content{
    opacity:.9;
    padding: 10px;
    font-family: 'Bungee', cursive;
}

/* hand */

#hand{
    position: fixed;
    right: 0;
    top: 44%;
    width: 30%;
    height: auto;
}

/* game pad */

.container {
    position: relative;
    width: 350px;
    height: 350px;
    margin: 0 auto;
    background-color: #65605f;
    border-radius: 50%;
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    border: 2px solid #000;
    margin-bottom: 25px;
}

.machine {
    width: 135px;
    height: 135px;
    position: absolute;
    margin: 32px;
    box-shadow: 10px 10px 10px 0px rgba(0, 0, 0, 0.75);
    border: 1px solid #000;
    cursor: pointer;
}

/* Adjustments for tablet and phone screen size*/

@media (max-width: 991px){
    #hand{
        visibility: hidden;
    }
}

/* Adjustments for phone screen size*/

@media (max-width: 767px){
    .container{
        width: 270px;
        height: 270px;
        box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.75);
    }
    .machine{
        width: 105px;
        height: 105px;
        margin: 23px;
        box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.75);
    }
    h1{
        font-size: 3em;
    }
    #start{
        font-size: 1em;
        border: 2px solid #000;
        box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.75);
    }
    #rules{
        font-size: 0.8em;
        border: 2px solid #000;
        box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.75);
    }
    h4{
        padding: 8px;
        font-size: 15px;
    }
}

/* Green button x3 states 
   (before game start(offGreen), when game is on(green) and when pressed(pressGreen)*/

.offGreen{
    background-image: linear-gradient(#397939, #c2d8ab);
    top: 0;
    left: 0;
    border-radius: 100% 10% 25% 10%;
}

.green {
    background-image: linear-gradient(green, #7FFF00);
    top: 0;
    left: 0;
    border-radius: 100% 10% 25% 10%;
}

.pressGreen {
    top: 0;
    left: 0;
    border-radius: 100% 10% 25% 10%;
    box-shadow: 5px 5px 5px 0;
    transform: translateY(4px);
    background-image: linear-gradient(#7aff00, #defdad);
}

/* Red button x3 states
   (before game start(offRed), when game is on(red) and when pressed(pressRed)*/

.offRed{
    background-image: linear-gradient(#773939, #f19999);
    top: 0;
    right: 0;
    border-radius: 10% 100% 10% 25%;
}

.red {
    background-image: linear-gradient(#8B0000, red);
    top: 0;
    right: 0;
    border-radius: 10% 100% 10% 25%;
}

.pressRed{
    top: 0;
    right: 0;
    border-radius: 10% 100% 10% 25%;
    box-shadow: 5px 5px 5px 0;
    transform: translateY(4px);
    background-image: linear-gradient(#ff4949, #ffbdbd);
}

/* Yellow button x3 states
   (before game start(offYellow), when game is on(yellow) and when pressed(pressYellow)*/

.offYellow{
    background-image: linear-gradient(#f5f5a5, #e0ab47);
    bottom: 0;
    left: 0;
    border-radius: 10% 25% 10% 100%;
}

.yellow {
    background-image: linear-gradient(yellow, orange);
    bottom: 0;
    left: 0;
    border-radius: 10% 25% 10% 100%;
}

.pressYellow {
    bottom: 0;
    left: 0;
    border-radius: 10% 25% 10% 100%;
    box-shadow: 5px 5px 5px 0;
    transform: translateY(4px);
    background-image: linear-gradient(#fffdba, #fffa55);
}

/* Blue button x3 states
   (before game start(offBlue), when game is on(blue) and when pressed(pressBluen)*/

.offBlue{
    background-image: linear-gradient(#a3ccf3, #38387b);
    bottom: 0;
    right: 0;
    border-radius: 25% 10% 100% 10%;
}

.blue {
    background-image: linear-gradient(#1E90FF, #00008B);
    bottom: 0;
    right: 0;
    border-radius: 25% 10% 100% 10%;
}

.pressBlue {
    bottom: 0;
    right: 0;
    border-radius: 25% 10% 100% 10%;
    box-shadow: 5px 5px 5px 0;
    transform: translateY(4px);
    background-image: linear-gradient(#caffee, #1E90FF);
}

/* footer */

footer{
    min-height: 50px;
    background-color: #5f4040;
    color: #000;
    position: fixed;
    bottom: 0;
    width: 100%;
    margin-top: 100px;
}
